*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
}

a{
    text-decoration: none; 
}

.hamburger{
    position: fixed;
    top: 2rem;
    right: 3rem;
    cursor: pointer;
    z-index: 2000;
}

.hamburger i{
    font-size: 2rem;
    background: linear-gradient(to right, #fff 0%, #fff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.close{
    display: none;
}

header::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    transform: translate(-100%, -100%);
    opacity: 0;
    z-index: 999;
    transition: opacity .6s, transform .2s .6s;
}

.sidebar-p{
    background-color:   #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 25rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.6rem;
    z-index: 1000;
    opacity: 90%;
    /* border: solid snow 1px; */
    /* transform: translate(-100%); */
    /* transition: transform .6s cubic-bezier(0.95, 0.05, 0.795, 0.035); */
}

.nav-lists{
    list-style: none;
}

.nav-items{
     position: relative;
}

.nav-items::before{
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #fff 0%, #fff 100%);
}

.nav-links{
    display: block;
    font-size: 1.3rem;
    color: white;
    text-decoration: uppercase;
    line-height: 4rem;
    letter-spacing: 3px; 
    transition: color .6s;
}

.nav-links:hover{
    color: darkgrey;;
}

.nav-links.current-item{
    color: rgb(251, 255, 0); 
}

.nav-links i{
    font-size: 1.5rem;
    margin-right: 1rem;
}

.social-m{
    display: flex;
    padding: 0.1rem;
    padding-bottom: .8rem;
}

.icon-links{
    padding-right: 2rem;
    display: flex;
    transition: color .6s;
}

.icon-links:hover{
    color: darkgray;
}

.icon-links i{
    font-size: 12px;
    color: white;
    margin: auto;
    transition: color .6s;
}

.icon-links i:hover{
    color: darkgray;
}

main{
    perspective: 100rem;
}

.zoom-content{
    transform-style: preserve-3d;
    transition: transform .6s cubic-bezier(0.95, 0.05, 0.795,0.035);
}

section{
    /* margin-left: 25rem; */
    width: 100%;
    height: 100%;
    background-color: rgb(9, 0, 12);
}

.active .close{
    display: block;
}

.active .open{
    display: none;
}

.active .sidebar-p{
    transform: translateX(0);
}

.active .zoom-content{
    transform: translate3d(0,0,-10rem);
}

@media (min-width: 992px){
    .hamburger{
        display: none;
    }

    .logo-img{
        display: none; 
     }
     
}

@media (max-width: 992px){

    .sidebar-p{
        display: none;
    }

    section{
        margin-left: 0;
        background-color: rgb(9, 0, 12);
    }

    .sidebar-p{
        background-color:   #000;
        position: fixed;
        top: 0;
        left: 0;
        width: 25rem;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.6rem;
        z-index: 1000;
        opacity: 90%;
        transform: translate(-100%);
        transition: transform .6s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    }
}

/* .wrapper{
    display: grid;
    grid-template-columns: 0% 100%;
} */

.logo-img{
    position: fixed;
    top: -5.5rem;
    margin-left: 1.5rem;
    cursor: pointer;
}

.logo-img:hover{
    transform: translate(0,0);
    opacity: 78%;
    transition: opacity .6s;
}

.cart-menu{
    position: fixed;
    top: 2rem;
    margin-left: 97%;
    cursor: pointer;
    font-size: 2.3rem;
    z-index: 2000;
}

.cart-link i{
    text-decoration: none;
    color: aliceblue;
}